Detailed Information about:  </br>
Name: <%= @user.full_name %> </br>
Title: <%= @user.title %> </br>
Desc: <%= @user.description %> </br>
<a href = "/users/<%= @user.id %>/edit"> Edit </a>
<a href="/users">Back</a>
